.error {
  border-radius: $borderRadius;
  overflow: hidden;
  min-height: calc(100vh - 50px);
  height: 100%;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("./../../assets/images/bg_error.png") no-repeat center/cover;
    z-index: -1;
  }
  .content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      font-size: 12rem;
    }
    p {
      font-size: 2rem;
      margin-bottom: 60px;
    }
    a {
      color: $black;
      background-color: $white;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 2rem;
    }
  }
}
@media screen and(max-width: 800px) {
  .error {
    height: 100%;
    border-radius: 0;
  }
}
