.home {
  border-radius: $borderRadius;
  overflow: hidden;
  min-height: calc(100vh - 50px);
  height: 100%;
  min-width: 540px;
  width: 100%;
  position: relative;
  background: -moz-linear-gradient(
    top,
    rgba($colorPrimaryRGB, 0) 0%,
    rgba($colorPrimaryRGB, 0.8) 21%,
    rgba($colorPrimaryRGB, 0.8) 46%,
    rgba($colorPrimaryRGB, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba($colorPrimaryRGB, 0) 0%,
    rgba($colorPrimaryRGB, 0.8) 21%,
    rgba($colorPrimaryRGB, 0.8) 46%,
    rgba($colorPrimaryRGB, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba($colorPrimaryRGB, 0) 0%,
    rgba($colorPrimaryRGB, 0.8) 21%,
    rgba($colorPrimaryRGB, 0.8) 46%,
    rgba($colorPrimaryRGB, 0) 100%
  );
  // position: absolute;
  border-radius: $borderRadius;
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("./../../assets/images/bg_home.jpg") no-repeat center/cover;
    z-index: -1;
  }
  .content {
    position: absolute;
    padding-left: 8%;
    top: 23%;

    @keyframes itemSlide {
      to {
        transform: translate(0);
      }
    }
    h1 {
      font-size: 3rem;
      text-shadow: 3px 3px 5px $black;
      transform: translateX(835px);
      @include homeItemSlide(0.4s);
    }
    h2 {
      font-size: 2rem;
      text-shadow: 3px 3px 5px $black;
      margin-top: 20px;
      transform: translateX(835px);
      @include homeItemSlide(1.2s);
    }
    .pdf {
      margin-top: 35px;
      transform: translateX(835px);
      @include homeItemSlide(2s);

      a {
        @include linkColor();
        padding: 10px 20px;
        border-radius: 10px;
        -webkit-box-shadow: 3px 3px 5px 0px $black;
        -moz-box-shadow: 3px 3px 5px 0px $black;
        box-shadow: 3px 3px 5px 0px $black;
      }
    }

    
    
  }
}

@media screen and (max-width: 800px) {
  .home {
    border-radius: 0;
    .content h1 {
      font-size: 2.6rem;
    }
    .content h2 {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 540px) {
  .home .content h1 {
    font-size: 2.2rem;
  }
  .home .content h2 {
    font-size: 1.5rem;
  }
}
