// @import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
// font-family: 'Montserrat', sans-serif;

// COLOR
$black: #333;
$white: #ccc;
$whiteRGB: rgb(187, 187, 187);
$whiter: #fff;
$whiterRGB: rgb(238, 238, 238);
$colorPrimary: #007272;
$colorPrimaryRGB: rgb(0, 114, 114);
$colorSecondary: #0033bb;

$borderRadius: 15px;
$minHeight: 98vh;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  padding: 1rem;
  max-width: 1200px;
  color: $white;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $white;
}

.fullPageContainer {
  display: flex;
  .pageContent {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    .fullPageContainer {
      display: block;
    }
  }
}
