// COLOR
$black: #333;
$white: #ccc;
$whiteRGB: rgb(187, 187, 187);
$whiter: #fff;
$whiterRGB: rgb(238, 238, 238);
$colorPrimary: #066b72;
$colorPrimaryRGB: rgb(0, 114, 114);
$colorSecondary: #4c9c9c;

$borderRadius: 15px;
$minHeight: 98vh;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  padding: 1rem;
  max-width: 1200px;
  color: $white;
  height: 100%;
  text-shadow: 3px 3px 5px $black;
  font-family: "Roboto";
  a:hover {
  text-shadow: none;

  }
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
}

.fullPageContainer {
  display: flex;
  .pageContent {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    .fullPageContainer {
      display: block;
    }
  }
}
