@mixin linkColor() {
  background: rgba($whiteRGB, .8);
  color: $black;
  border: 1px solid $black;
  transition: .3s;
  &:hover {
    background: rgba($whiterRGB, .8);
    border-color: $colorSecondary;
    transition: .6s;
    color: $colorSecondary;
  }
}
